FoursquareMastodon.json
{
    "name": "Foursquare Flow",
    "flow": [
        {
            "id": 1,
            "module": "foursquare:TriggerNewPhoto",
            "version": 2,
            "parameters": {
                "source": "myPhotos",
                "account": 1,
                "maxResults": 5
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "source": {
                            "label": "My photos"
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "foursquare"
                            },
                            "label": "Foursquare"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:foursquare",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of returned photos",
                        "required": true
                    },
                    {
                        "name": "source",
                        "type": "select",
                        "label": "I want to watch ",
                        "required": true,
                        "validate": {
                            "enum": [
                                "myPhotos",
                                "otherUsers"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://api.foursquare.com/v2/checkins/{{1.checkin.id}}",
                "serializeUrl": false,
                "method": "get",
                "headers": [],
                "qs": [
                    {
                        "name": "v",
                        "value": "20120609"
                    },
                    {
                        "name": "oauth_token",
                        "value": ""
                    }
                ],
                "bodyType": "",
                "parseResponse": true,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "qs": {
                            "mode": "chose",
                            "items": [
                                {
                                    "name": {
                                        "collapsed": true
                                    },
                                    "value": {
                                        "collapsed": true
                                    }
                                },
                                {
                                    "name": {
                                        "collapsed": true
                                    }
                                }
                            ]
                        },
                        "bodyType": {
                            "collapsed": true,
                            "label": "Empty"
                        },
                        "parseResponse": {
                            "collapsed": true
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "mastodon:uploadAMedia",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1374377
            },
            "mapper": {
                "fileData": "{{1.data}}",
                "fileName": "{{1.fileName}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "mastodon"
                            },
                            "label": "My Mastodon connection (connection)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:mastodon",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "fileData",
                        "type": "buffer",
                        "label": "File Data",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "mastodon:createAStatus",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1374377
            },
            "mapper": {
                "status": "{{16.data.response.checkin.shout}} - {{1.venue.name}} in  {{1.venue.location.city}}, {{1.venue.location.country}} {{16.data.response.checkin.checkinShortUrl}}",
                "media_ids": [
                    "{{3.id}}"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "language": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "media_ids": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "sensitive": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Empty",
                            "collapsed": true
                        },
                        "scheduled_at": {
                            "collapsed": true
                        },
                        "spoiler_text": {
                            "collapsed": true
                        },
                        "in_reply_to_id": {
                            "collapsed": true
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "mastodon"
                            },
                            "label": "Mastodon Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:mastodon",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "media_ids",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Media IDs"
                    },
                    {
                        "name": "in_reply_to_id",
                        "type": "text",
                        "label": "In Reply to ID"
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Sensitive"
                    },
                    {
                        "name": "spoiler_text",
                        "type": "text",
                        "label": "Spoiler Text"
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "validate": {
                            "enum": [
                                "public",
                                "unlisted",
                                "private",
                                "direct"
                            ]
                        }
                    },
                    {
                        "name": "language",
                        "type": "select",
                        "label": "Language"
                    },
                    {
                        "name": "scheduled_at",
                        "type": "date",
                        "label": "Scheduled at"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}
