FoursquareToMastodonTwitter.json
{
    "name": "Foursquare Flow",
    "flow": [
        {
            "id": 1,
            "module": "foursquare:TriggerNewPhoto",
            "version": 2,
            "parameters": {
                "source": "myPhotos",
                "account": 1374372,
                "maxResults": 5
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "source": {
                            "label": "My photos"
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "foursquare"
                            },
                            "label": "Foursquare"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:foursquare",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of returned photos",
                        "required": true
                    },
                    {
                        "name": "source",
                        "type": "select",
                        "label": "I want to watch ",
                        "required": true,
                        "validate": {
                            "enum": [
                                "myPhotos",
                                "otherUsers"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "v",
                        "value": "20120609"
                    },
                    {
                        "name": "oauth_token",
                        "value": ""
                    }
                ],
                "url": "https://api.foursquare.com/v2/checkins/{{1.checkin.id}}",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                {
                                    "name": {
                                        "collapsed": true
                                    },
                                    "value": {
                                        "collapsed": true
                                    }
                                },
                                {
                                    "name": {
                                        "collapsed": true
                                    },
                                    "value": {
                                        "collapsed": true
                                    }
                                }
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "bodyType": {
                            "label": "Empty",
                            "collapsed": true
                        },
                        "parseResponse": {
                            "collapsed": true
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "mastodon:uploadAMedia",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1374377
                            },
                            "mapper": {
                                "fileData": "{{1.data}}",
                                "fileName": "{{1.fileName}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "mastodon"
                                            },
                                            "label": "My Mastodon connection (connection)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:mastodon",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "fileData",
                                        "type": "buffer",
                                        "label": "File Data",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "mastodon:createAStatus",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1374377
                            },
                            "mapper": {
                                "status": "{{16.data.response.checkin.shout}} - {{1.venue.name}} in  {{1.venue.location.city}}, {{1.venue.location.country}} {{16.data.response.checkin.checkinShortUrl}}",
                                "media_ids": [
                                    "{{3.id}}"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "language": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "media_ids": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "sensitive": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Empty",
                                            "collapsed": true
                                        },
                                        "scheduled_at": {
                                            "collapsed": true
                                        },
                                        "spoiler_text": {
                                            "collapsed": true
                                        },
                                        "in_reply_to_id": {
                                            "collapsed": true
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "mastodon"
                                            },
                                            "label": "(connection)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:mastodon",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "media_ids",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Media IDs"
                                    },
                                    {
                                        "name": "in_reply_to_id",
                                        "type": "text",
                                        "label": "In Reply to ID"
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Sensitive"
                                    },
                                    {
                                        "name": "spoiler_text",
                                        "type": "text",
                                        "label": "Spoiler Text"
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "unlisted",
                                                "private",
                                                "direct"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "language",
                                        "type": "select",
                                        "label": "Language"
                                    },
                                    {
                                        "name": "scheduled_at",
                                        "type": "date",
                                        "label": "Scheduled at"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "twitter:uploadAMedia",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 1378497
                            },
                            "mapper": {
                                "select": "image",
                                "attachments": [
                                    {
                                        "data": "{{1.data}}",
                                        "filename": "{{1.fileName}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Image or GIF (Size less than 5MB)"
                                        },
                                        "attachments": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twitter"
                                            },
                                            "label": "My Twitter connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twitter",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "image",
                                                "video"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "required": true,
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "twitter:createATweet",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 1374619
                            },
                            "mapper": {
                                "text": "{{16.data.response.checkin.shout}} - I'm at {{1.venue.name}} in  {{1.venue.location.city}}, {{1.venue.location.country}} {{16.data.response.checkin.checkinShortUrl}}",
                                "media_ids": [
                                    "{{9.media_ids}}"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "place_id": {
                                            "collapsed": true
                                        },
                                        "media_ids": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "quote_tweet_id": {
                                            "collapsed": true
                                        },
                                        "direct_message_deep_link": {
                                            "collapsed": true
                                        },
                                        "for_super_followers_only": {
                                            "mode": "chose",
                                            "collapsed": true
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twitter2"
                                            },
                                            "label": "My Twitter OAuth 2.0 connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twitter2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text Content",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "media_ids",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Media IDs"
                                    },
                                    {
                                        "name": "place_id",
                                        "type": "text",
                                        "label": "Place ID"
                                    },
                                    {
                                        "name": "direct_message_deep_link",
                                        "type": "url",
                                        "label": "Direct Message Link"
                                    },
                                    {
                                        "name": "for_super_followers_only",
                                        "type": "boolean",
                                        "label": "Allow to Tweet Exclusively for Super Followers Only"
                                    },
                                    {
                                        "name": "quote_tweet_id",
                                        "type": "text",
                                        "label": "Quote Tweet ID"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}